/*  your css code here. If applicable */
.testimonial-section {
    background-color: #f2f2f2;
    padding: 40px 20px;
}


.testimonial-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: 20px;
}


.testimonial-box {
    background-color: #ffffff;
    max-width: 900px;
    margin: 0 auto 25px auto;
    padding: 25px 30px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}


.text {
    font-size: 18px;
    margin: 0 0 15px 0;
    line-height: 1.6;
}


.author {
    text-align: right;
    font-style: italic;
    margin: 0;
    font-size: 16px;
}
